@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-Font: "Open Sans", sans-serif;
  --primary-color: #0096ff; /* blue color */
  --secondary-color: #eb1d36; /*red color*/
  --black-color: #000000;
  --grey-color: #9b9b9b;
  --white-color: #ffff;
  --pink-color: #b93160;
}
